.navbar {
    background-color: rgb(76, 141, 179);
}

.navbar-brand {
    color: black;
}

.d-flex {
    : center;
}

.btn {
    background-color: yellow;
}

.btn2 {
    background-color: orange;
}